In [ ]:
import re
def split_folk(folk, delims):
    """
    Split a sting of multiple names in a list of names, baed on passed delims.

    Parameters
    ----------
    folk : STRING
        The sting containg the names.
    delimes: LIST
        The delims to split by.

    Returns
    -------
    folk_list : LIST
        The string devied by the delims.

    """
    spliter = "|".join(delims)
    folk_list = re.split(spliter, folk)
    return folk_list

In [31]:
re.split("\.|,|or","CEO/President Samer Bishay . CFO Kyle Appleby OR CFO Kyle Appleby, CFO Kyle Appleby. CFO Kyle Appleby , CFO Kyle Appleby",flags=re.IGNORECASE)

['CEO/President Samer Bishay ',
 ' CFO Kyle Appleby ',
 ' CFO Kyle Appleby',
 ' CFO Kyle Appleby',
 ' CFO Kyle Appleby ',
 ' CFO Kyle Appleby']

In [33]:
delims = ["or", "and", ",", "."]

In [34]:
spliter = "|".join(delims)

In [35]:
re.escape(spliter)

'or\\|and\\|,\\|\\.'

In [36]:
re.escape(delims)

TypeError: decoding to str: need a bytes-like object, list found

In [39]:
spliter = "|".join(map(lambda x: re.escape(x),delims))

In [40]:
spliter

'or|and|,|\\.'

In [41]:
re.split(spliter,"CEO/President Samer Bishay . CFO Kyle Appleby OR CFO Kyle Appleby, CFO Kyle Appleby. CFO Kyle Appleby , CFO Kyle Appleby",flags=re.IGNORECASE)

['CEO/President Samer Bishay ',
 ' CFO Kyle Appleby ',
 ' CFO Kyle Appleby',
 ' CFO Kyle Appleby',
 ' CFO Kyle Appleby ',
 ' CFO Kyle Appleby']

In [5]:
import pandas as pd
import numpy as np
 
 
# Returns x*y
def multiplyData(x, y):
   return x * y
 
# Multiply given value by 2 and returns
def doubleData(x):
   return x * 2
 
matrix = [(222, 34, 23),
         (333, 31, 11),
         (444, 16, 21),
         (555, 32, 22),
         (666, 33, 27),
         (777, 35, 11)
         ]

# Create a DataFrame object
dfObj = pd.DataFrame(matrix, columns=list('abc'))

In [10]:
modDfObj = dfObj.apply(multiplyData, axis=1, args=[3])

In [11]:
dfObj

     a   b   c
0  222  34  23
1  333  31  11
2  444  16  21
3  555  32  22
4  666  33  27
5  777  35  11

In [12]:
modDfObj

      a    b   c
0   666  102  69
1   999   93  33
2  1332   48  63
3  1665   96  66
4  1998   99  81
5  2331  105  33